{% extends "base.html" %}

{% block styles %}
	<style type="text/css">
    	body{
    		background-color: #077478;
    		background-image: url('http://www.beach-backgrounds.com/wallpapers/the-inspiring-view-of-sunrise-on-tathra-beach-australia-2560x1600-623.jpg');
    		background-size: cover;
    	}
	</style>
{% endblock styles%}


{% block content %}

<div style='color:green;' class=''>
	<h1 >Created!</h1>
	<p>{{ object.url }}</p>
	<p>Count : {{ object.clickevent.count }}</p>
	<p><a class='btn btn-link' href='{{ object.get_short_url }}'>{{ object.get_short_url }}</a> </p>
	<a class = 'btn btn-default' href="/">+ New</a>
</div>

{% endblock content %}