{% extends "base.html" %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block content %}
<div class="jumbotron jumbotron-sm" style="background-color:#101010;margin-top:2%;color:white;">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h1 class="h2" style="margin-top:-2%">
                    Vetusbooks
                </h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="well">
                <h3 style="line-height:20%;"><i class="fa fa-home fa-1x" style="line-height:6%;color:#101010"></i> Address:</h3>               
                <p style="margin-top:6%;line-height:25%">Vetus Books,</p>
                <p style="margin-top:4%;line-height:25%">University Of Bridgeport,</p>
                <p style="margin-top:4%;line-height:25%">Connecticut.</p>
                <br />
                <br />
                <h3 style="line-height:20%;"><i class="fa fa-envelope fa-1x" style="line-height:6%;color:#101010"></i> E-Mail Address:</h3>
                <p style="margin-top:6%;line-height:35%">vetusbooks.app@gmail.com</p>
                <br />
                <br />
                <h3 style="line-height:20%;"><i class="fa fa-user fa-1x" style="line-height:6%;color:#101010"></i> Developer:</h3>
                <p style="margin-top:6%;line-height:35%">Akhilesh RVN</p>
                <br />
                <br />
            </div>
        </div>
        <div class="col-sm-6">
            <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJcRy6jA4O6IkRd2TQKBDDO5w&key=AIzaSyAp92lEpTS2fJQVj4gwVevZPJ1YUwbh660" allowfullscreen></iframe>
        </div>
{% endblock content %}