{% extends "base.html" %}
{% load vb_filters %}
{% block title %}
	Home
{% endblock title %}

{% block styles %}
	
{% endblock styles %}

{% block content %}
	<!-- <h1>This is VetusBooks Home!</h1> -->
	{% if user.is_authenticated %}
		<h3>Recommend Books For You:</h3>
		<!-- <h2>This is Home Page Dude.</h2> -->
	{% else %}
		<h1>You are not logged In!</h1>
	{% endif %}
	{% for book in random_books %}
		{% if forloop.counter0|percent_six == 5 %}
        	<div class="row" id="product-row">
       	{% endif %}
			<div class="col-sm-2 min-gutter">
                <div class="oneitem">
				    <div class="thumbnail">
				    {% if book.thumbnail.name is None %}
				      	<img src="{{MEDIA_ROOT}}/media/photos/no_thumb.jpg" alt="...">
				    {% else %}
						<img src="{{MEDIA_ROOT}}{{book.thumbnail.url}}" alt="...">
				    {% endif %}
				      <div class="caption">
				        <h3 class="thumbnailheading">
				        	<a href="/book/{{book.id}}">{{ book.title }}</a>
				        </h3>
				        <p>{{ book.description }}</p>
				        </div>
						<a href="/book/{{ book.id }}" class="btn btn-primary btn-block price-button">${{ book.price }}</a>
				       <!-- <button type="button" class="btn btn-primary btn-block">asdf
				       	<a class="price-font" href="/book/{{ book.id }}">{{ book.price }}</a>
				       </button > -->
				    </div>
				</div>
            </div>
        {% if forloop.counter0|percent_six == 5 %}
        	</div>
        {% endif %}
        {% endfor %}
{% endblock content %}