{% extends "base.html" %}
{% block title %}
	{{ title }}
{% endblock title%}
{% block content %}
	{% if alert_message %}
		<div class="alert alert-success alert-dismissable">
		<a class="panel-close close" data-dismiss="alert">×</a> 
		<i class="fa fa-coffee"></i>
		{{ alert_message }}
		</div>
	{% endif %}
	<div class="container">
	

	<div class="row">
		<div class="col-xs-5 text-center">
			<div>
		<h3>{{ result_book.title }} <i>for </i> ${{ result_book.price }}</h3>
	</div>
			<img src="{{ result_book.thumbnail.url }}" width="70%">
			<div>
		{% if result_book.seller_id == user.id %}
			<a href="/remove_book/{{ result_book.id }}" class="btn btn-sm btn-primary">Remove Book</a>
			<!-- <a href="/remove_book/{{ result_book.id }}">Remove Book</a> -->
		{% endif %}
	</div>
		</div>
		<div class="col-xs-7 text-left">
	        <div class="text-left user_prof">
	        <div class="row">
	        		<h3>Seller Info :</h3>
	        	<div class="col-md-3 text-center">
	        	<img src="{{ seller.avatar.url }}" class="avatar img-circle" alt="avatar" width="100px">
	        	<a href="/seller/{{ seller.id }}"><h3>{{ seller.username }}</h3></a>
	      		</div>
	      	<div class="col-md-9">
	          <h4>Name : {{ seller.first_name }}</h4>
	          <h4>Phone Number: {{ seller.phone }}</h4>
	          <h4>Location : {{ seller.location }}</h4>
	          {% if user.is_authenticated and result_book.seller_id != user.id %}
	      		<button data-toggle="modal" data-target="#squarespaceModal" class="btn btn-primary">Send Message</button>
	      	{% endif %}
	      </div>
	      </div>
	      </div>
	      	<p class="bookdisc">
	      		Description: {{ result_book.description }}
	      	</p>
		</div>
	</div>
</div>
	

	<div class="modal fade" id="squarespaceModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
			<h3 class="modal-title" id="lineModalLabel">Send Message to {{ seller.username }}</h3>
		</div>
		<div class="modal-body">
			
            <!-- content goes here -->
			<form action="/send_message/{{ result_book.id}}/{{ user.id }}/{{ result_book.seller_id }}/" method="POST">
				{% csrf_token %}
              <div class="form-group">
                <label for="exampleInputEmail1">Your Message</label>
                <input type="textarea" class="form-control" name='message' id="exampleInputEmail1" placeholder="Your Message Here">
              </div>
              
		<div class="modal-footer">
			<div class="btn-group btn-group-justified" role="group" aria-label="group button">
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-default" data-dismiss="modal"  role="button">Close</button>
				</div>
				<div class="btn-group" role="group">
				<button type="submit" class="btn btn-default">Send</button>
			</div>
			</div>
            </form>
		</div>
		</div>
	</div>
  </div>
</div>
{% endblock content %}