{% extends "base.html" %}
{% load vb_filters %}
{% block title%}
	{{ title }}
{% endblock title %}

{% block content %}
		{% if alert_message %}
			<div class="alert alert-success alert-dismissable">
			<a class="panel-close close" data-dismiss="alert">×</a> 
			<i class="fa fa-coffee"></i>
			{{ alert_message }}
			</div>
		{% endif %}
		<h2>Here are Your Books:</h2>
		{% for book in user_books %}
		{% if forloop.counter0|percent_four == 3 %}
			<div class="row">
		{% endif %}
			<div class="col-sm-3 col-lg-3 col-md-3">
				<div class="thumbnail">
					{% if book.thumbnail.name is None %}
						<img class = "book_thumb" src="{{MEDIA_ROOT}}/media/photos/no_thumb.jpg" alt="Card image cap">
					{% else %}
				  		<img class="book_thumb" src="{{MEDIA_ROOT}}{{book.thumbnail.url}}"  alt="Card image cap">
				  	{% endif %}
				  	<div class="caption">
				  		<h4><a href="/book/{{book.id}}">{{ book.title }}</a></h4>
				  		<h4>${{ book.price }}</h4>
				    	<p class="card-text">{{ book.description }}</p>
					</div>
				</div>
			</div>
		{% if forloop.counter0|percent_four == 3 %}
		</div>
		{% endif %}
		{% endfor %}
{% endblock content%}
